{% extends 'video_collection/base.html' %}

{% block content %}

<h2>Video List</h2>

<h3>Search</h3>

<!-- Form to search video -->
<form method="GET" action="{% url 'video_list' %}">
    {{ search_form }}
    <button type="submit">Search</button>
</form>

<!-- Clear search button -->
<a href="{% url 'video_list' %}">
    <button>Clear Search</button>
</a>

<!-- Show number of videos -->
<h3>{{ videos|length }} video{{ videos|length|pluralize }}</h3>

<!-- Show videos -->
{% for video in videos %}
    <div>
        <!-- Link to video details page -->
        <a href="{% url 'video_details' video_pk=video.pk %}">{{ video.name }}</a>
        <p>{{ video.notes }}</p>
        <iframe width="420" height="315" src="https://youtube.com/embed/{{ video.video_id }}"></iframe>
    </div>

{% empty %}

<!-- Display if no videos -->
<p>No videos</p>

{% endfor %}

{% endblock %}